@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@theme {
  --font-primary: "Noto Sans", "sans-serif";
  --color-neutral-C-0: "hsl(200, 60%, 99%)",
  --color-neutral-C-100: "hsl(0, 0%, 93%)"
  --color-neutral-C-200: "hsl(217, 61%, 90%)"
  --color-neutral-C-300: "hsl(0, 0%, 78%)"
  --color-neutral-C-600: "hsl(226, 11%, 37%)"
  --color-neutral-C-700: "hsl(225, 23%, 24%)"
  --color-neutral-C-800: "hsl(226, 25%, 17%)"
  --color-neutral-C-900: "hsl(227, 75%, 14%)"
  --color-red-C-400: "hsl(3, 86%, 64%)"
  --color-red-C-500: "hsl(3, 71%, 56%)"
  --color-red-C-700: "hsl(3, 77%, 44%)"
  --color-light-gradient: "linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%)";
  --color-dark-gradient: "linear-gradient(180deg, #040918 0%, #091540 100%)";

  --breakpoint-fm: "1440px"
}
